/*************************/
/* MARK: DEFAULT STYLING */
/*************************/

:root {
  /* TYPOGRAPHY */

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;


  /* Bron: https://tractie.ns.nl/2e23992f3/p/044657-fundamentals */   
  --heading-1: 28px;
  --heading-2: 24px;
  --heading-3: 20px;
  --heading-4: 18px;
  --heading-5: 16px;
  --heading-6: 14px;

  --body-text-l: 1.125rem;
  --body-text-m: 1rem;
  --body-text-s: 0.875rem;
  --body-text-xs: 0.75rem;

  --font-weight: normal;
  --line-height: 1.5;

  /* COLORS */
  --color-content-default: #252528; /* Use for primary text and icons */
  --color-content-emphasis: #0b3680; /* Use for content that need more emphasis, like headings */
  --color-content-subtle: #73747a; /* Use for secondary content, like help text */

  --color-content-interactive: #0162d1; /* Use for interactive content, like links and buttons */
  --color-content-interactive-hover: #0b44a1; /* Hover state for interactive content */
  --color-content-interactive-pressed: #0b3680; /* The pressed/active state for interactive content */

  --color-content-info: #0162d1; /* Use for informative content, like a message inline */
  --color-content-succes: #3e7f67; /* Use for content that reflects a positive outcome */
  --color-content-warning: #f05c01; /* Use for content that warns about something */
  --color-content-error: #ce092d; /* Use for content that communicates something critical, like input error messages */

  --color-background-default: #ffffff;
  --color-brand-primary: #ffc70f;
  --color-brand-secondary: #0b3680;

  --color-border-default: #e4e5e8;
  --color-border-interactive-default: #0162d1;
  --color-border-interactive-hover: #0b44a1;
  --color-border-interactive-pressed: #0b3680;

  /* ICONS */
  --icon-xs: 16px 16px;
  --icon-m: 24px 24px;

  /* BORDER RADIUS */
  --border-radius-sm: 3px;
  --border-radius-nm: 6px;
  --border-radius-l: 12px;
  --border-radius-f: 9999px;
}

* {
  margin: 0;
  padding: 0;
  font-size: var(--body-text-m);
  color: var(--color-content-default);
  line-height: var(--line-height);
}

/*********************************/
/* MARK: SCHOOL PROJECT WARNING */
/*********************************/

header {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

/************************/
/* MARK: HEADER STYLING */
/************************/

h1 {
  padding: 1rem;
  color: var(--color-content-emphasis);
  font-size: var(--heading-1);
}

.header {
  font-size: var(--heading-2);
  padding-bottom: 1rem;
}

legend {
  color: var(--color-content-emphasis);
  font-size: var(--heading-3);
  font-weight: bold;
}




fieldset {
  margin-bottom: 1rem;
  border: 0;
  padding: 1rem;
}

input {
  border-radius: var(--border-radius-nm);
  margin-bottom: 1rem;
}



label {
  display: block;
}




/*******************************/
/* MARK: SHOW / HIDE QUESTIONS */
/*******************************/

.conditional {
  display: none;
}

.conditional.is-visible {
  display: block;
}

/*********************************/
/* MARK: ERROR AND SUCCES STATES */
/*********************************/

input:user-valid {
  border: 2px solid var(--color-content-succes);
}

input:user-invalid {
  border: 2px solid var(--color-content-error);
}
