* {
    margin: 0;
    padding: 0;
}

header {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

h1 {
    padding: 1rem;
}

fieldset {
  padding: 1rem;
  margin-bottom: 1rem;
}

label {
  display: block;
}

input,
label {
  margin: 0.4rem 0;
}
