/*************************/
/* MARK: DEFAULT STYLING */
/*************************/
@font-face {
  font-family: nssans;
  src: url(/fonts/nssans-regular.woff2);
}

@font-face {
  font-family: nssans-bold;
  src: url(/fonts/nssans-bold.woff2);
}

:root {
  /* TYPOGRAPHY */

  font-family:
    nssans,
    sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue";

  /* Bron: https://tractie.ns.nl/2e23992f3/p/044657-fundamentals */
  --heading-1: 28px;
  --heading-2: 24px;
  --heading-3: 20px;
  --heading-4: 18px;
  --heading-5: 16px;
  --heading-6: 14px;

  --body-text-l: 1.125rem;
  --body-text-m: 1rem;
  --body-text-s: 0.875rem;
  --body-text-xs: 0.75rem;

  --font-weight: normal;
  --line-height: 1.5;

  /* COLORS */
  --color-content-default: #252528; /* Use for primary text and icons */
  --color-content-emphasis: #0b3680; /* Use for content that need more emphasis, like headings */
  --color-content-subtle: #73747a; /* Use for secondary content, like help text */

  --color-content-interactive: #0162d1; /* Use for interactive content, like links and buttons */
  --color-content-interactive-hover: #0b44a1; /* Hover state for interactive content */
  --color-content-interactive-pressed: #0b3680; /* The pressed/active state for interactive content */

  --color-content-info: #0162d1; /* Use for informative content, like a message inline */
  --color-content-succes: #3e7f67; /* Use for content that reflects a positive outcome */
  --color-content-warning: #f05c01; /* Use for content that warns about something */
  --color-content-error: #ce092d; /* Use for content that communicates something critical, like input error messages */

  --color-background-default: #ffffff;
  --color-brand-primary: #ffc70f;
  --color-brand-secondary: #0b3680;

  --color-border-default: #e4e5e8;
  --color-border-interactive-default: #0162d1;
  --color-border-interactive-hover: #0b44a1;
  --color-border-interactive-pressed: #0b3680;

  --color-border-input-default: #c4c5cb;
  --color-border-input-hover: #0063d3;

  /* ICONS */
  --icon-xs: 16px 16px;
  --icon-m: 24px 24px;

  /* BORDER RADIUS / SIZE */
  --border-radius-sm: 3px;
  --border-radius-nm: 6px;
  --border-radius-l: 12px;
  --border-radius-f: 9999px;

  --border-width-thin: 1px;
  --border-width-medium: 2px;
  --border-width-thick: 4px;
}

* {
  margin: 0;
  padding: 0;
  font-size: var(--body-text-m);
  color: var(--color-content-default);
  line-height: var(--line-height);
}

/*********************************/
/* MARK: SCHOOL PROJECT WARNING */
/*********************************/

header {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  color: white;
  background: red;
  text-align: center;
}

body {
  background: var(--color-brand-primary);
}

/************************/
/* MARK: HEADER STYLING */
/************************/

h1 {
  padding: 1rem;
  color: var(--color-content-emphasis);
  font-size: var(--heading-1);
}

.header {
  font-size: var(--heading-2);
  border-top-left-radius: var(--border-radius-nm);
  border-top-right-radius: var(--border-radius-nm);
  font-family: nssans-bold;
  color: var(--color-content-emphasis);
  display: block;
  width: 100%;
  background: var(--color-brand-secondary);
  color: white;
  box-sizing: border-box;
  padding: 1rem;
}

legend {
  font-family: nssans-bold;
  font-size: var(--heading-3);
  padding-top: .5rem;
}

form {
  padding: 1rem;
}

fieldset {
  background: var(--color-background-default);
  margin: 0 auto 1rem;
  border: 0;
  width: 100%;
  max-width: 720px; /* kies wat je mooi vindt */
  box-sizing: border-box;
  border-radius: var(--border-radius-nm);
  overflow: hidden;
}

input {
  display: block;
  width: 80%;
  margin: 0 auto 0.8rem; /* centreert input */
  border-radius: var(--border-radius-nm);
  border: var(--border-width-thin) solid var(--color-border-input-default);
}

input:hover {
  border-color: var(--color-border-input-hover);
}

input:focus {
  outline: none;
  border-color: var(--color-border-interactive-default);
}

label {
  display: block;
  width: 80%; /* zelfde breedte als input */
  margin: 0.3rem auto 0; /* centreert label */
}

label:has(input[type="radio"]) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input[type="radio"] {
  width: auto;
  margin: 0;
}

form > fieldset > :not(legend) {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

fieldset fieldset {
  padding: 0 1rem 1rem 1rem; /* ruimte binnenin */
}

/* Subvragen */
fieldset fieldset > legend {
  background: none;
  color: var(--color-content-emphasis);
  margin: 0 0 0.5rem 0; /* geen margin-left meer */
}

fieldset label:has(input[type="radio"]) {
  margin-bottom: 0.75rem;
}

/*******************************/
/* MARK: SHOW / HIDE QUESTIONS */
/*******************************/

.conditional {
  display: none;
}

.conditional.is-visible {
  display: block;
}

/*********************************/
/* MARK: ERROR AND SUCCES STATES */
/*********************************/

input:user-valid {
  border-bottom: 2px solid var(--color-content-succes);
}

input:user-invalid {
  border-bottom: 2px solid var(--color-content-error);
}

.error {
  color: var(--color-content-error);
}

button {
  background-color: var(--color-content-interactive);
  border: none;
  border-radius: var(--border-radius-sm);
  box-shadow: inset 0 -0.125rem 0 var(--color-content-interactive-hover);
  color: white;
  font-size: var(--body-text-m);
  font-weight: 400;
  line-height: 1.5625;
  padding: 0.625rem 1.125rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s ease-in-out;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
}

button:hover {
  box-shadow: inset 0 -5rem 0 var(--color-content-interactive-hover);
}
